.Section_Sub_2_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 70px;
}

.Section_Sub_2_div_top {
  font-size: 50px;
  font-weight: 200;
}

.Section_Sub_2_div_top_h1 {
  font-family: "Jockey One", sans-serif;
  letter-spacing: 1px;
}

.Section_Sub_2_div_under_image {
  width: 225px;
  margin: 50px 10px 0px 10px;
}

@media (max-width: 1620px) {
  .Section_Sub_2_div_under {
    display: none;
  }
}

@media (min-width: 1620px) {
  .sectionCarousel {
    display: none;
  }
}
