.section_2_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 50px 50px;
}

.section_2_div_top {
  font-size: 25px;
  font-weight: 200;
}

.section_2_div_top_h1 {
  font-family: "Jockey One", sans-serif;
  letter-spacing: 1px;
}

.section_2_div_under {
  margin: 30px 0 0 0;
}

.section_2_div_under_image {
  margin: 10px 50px 0px 50px;
}

@media (max-width: 1620px) {
  .section_2_div {
    padding: 30px 25px 0px 25px;
  }

  .section_2_div_top {
    font-size: 18px;
  }

  .section_2_div_under {
    display: none;
  }

  .sectionCarouselImg {
    width: 200px !important;
  }

  .sectionCarousel {
    margin: 0 auto;
    padding: 20px;
    width: 95%;
  }

}

@media (max-width: 500px) {
  .sectionCarousel {
    padding: 50px 20px;
    width: 100%;
  }
}

@media (max-width: 370px) {
  .section_2_div_top {
    font-size: 1rem;
  }
}

@media (min-width: 1620px) {
  .sectionCarousel {
    display: none;
  }
}
