@media (max-width: 850px) {
  .nav {
    padding: 0px 0px 15px 0px !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff00;
    transition: background-color 0.3s ease;
    z-index: 1;
  }

  .nav-container {
    display: none !important;
  }

  .nav_Login {
    font-size: 15px;
  }
  .nav_Signup {
    background-color: white !important;
    color: #87bec7 !important;
    font-size: 15px;
  }
}

.nav {
  padding: 15px 50px 15px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff00;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.nav.scrolled {
  background-color: #87bec7b7;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.navDiv_Left {
  text-align: left;
}

.navLogo {
  width: 190px;
  height: auto;
}

.navDiv_Right {
  text-align: right;
  font-size: 18px;
}

.nav_Login {
  font-weight: 600;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.493);
}

.nav_Login:hover {
  color: black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav_Signup {
  margin: 0px 0px 0px 20px;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #87bec7;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.nav_Signup:hover {
  background-color: #77abb3;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 850px) {
  .hamburger-menu {
    display: none;
  }

  .navHamburgerLogo {
    display: none;
  }
}

.navHamburgerLogo {
  width: 160px;
  height: auto;
  position: relative;
  margin: 20px 0px 0px 40px;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.menu-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 999;
}

.menu-btn__burger {
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  position: relative;
  transition: all 0.3s ease;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.menu-btn__burger::before {
  top: -8px;
}

.menu-btn__burger::after {
  top: 8px;
}

.menu-btn__cross::before,
.menu-btn__cross::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.menu-btn__cross::before {
  transform: rotate(45deg);
}

.menu-btn__cross::after {
  transform: rotate(-45deg);
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #87bec7ef;
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white !important;
  justify-content: space-between;
}

.menu-items.open {
  transform: translateX(0);
}

.menu-items-li {
  text-decoration: underline;
  text-align: center;
  
}

.Hamburger-a {
  text-decoration: none;
  color: white;
}

.Hamburger-li {
  font-family: "Jockey One", sans-serif;
  font-size: 40px;
  padding: 10px;
}

.menu-items-div {
  padding: 0 0 20px 0;
}
