.nav {
    padding: 15px 50px 15px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff00; /* default background color */
    transition: background-color 0.3s ease;
}

.nav.scrolled {
    background-color: #87bec7b7; /* background color when scrolled */
  
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.navLogo {
    width: 190px;
    height: auto;
}

.navDiv_Left {
    text-align: left;
}

.navDiv_Right {
    text-align: right;
    font-size: 18px;
}

.nav_Login {
    font-weight: 600;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.493);
}

.nav_Login:hover {
    color: black;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.nav_Signup {
    margin: 0px 0px 0px 20px;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: #87BEC7;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.nav_Signup:hover {
    background-color: #77abb3;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}