.footer_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px 15px 50px;
  background-color: #87bec7;
  color: white;
}

.footer_div_p {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 850px) {
  .footer_div_p {
    font-size: 13px;
  }
}
