.dashboard_Background {
  background-image: url("background.webp");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard_Nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.dashboard_Logo {
  width: 190px;
  height: auto;
}

.dashboard_Setup {
  background-color: white;
  height: 70%;
  width: 70%;
  border-radius: 30px;
  padding: 50px;
}

.dashboard_Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover {
  cursor: pointer;
}

.dashboard_Cards_image {
  width: 100%;
}

.card_P {
  padding: 10px;
}

.dashboard_Uitloggen {
  margin: 0px 0px 0px 20px;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #87bec7;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.dashboard_Uitloggen:hover {
  background-color: #77abb3;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 1651px) {
  .dashboard_Setup {
    background-color: white;
    height: 70%;
    width: 70%;
    border-radius: 30px;
    padding: 50px;
  }

  .dashboard_h1 {
    font-family: "Jockey One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px 50px 0px;
  }

  .dashboard_Cards_responsive {
    display: none;
  }

  .card {
    max-width: 350px;
    min-height: 450px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@media (max-width: 1650px) {
  .dashboard_Setup {
    background-color: white;
    height: 70%;
    width: 70%;
    border-radius: 30px;
    padding: 20px;
  }

  .dashboard_h1 {
    font-family: "Jockey One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px 20px 0px;
  }

  .dashboard_Setup {
    background-color: white;
    height: 70%;
    width: 90%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .dashboard_Cards {
    display: none;
  }

  .dashboard_Cards_responsive {
    width: 40%;
  }

  .card_A {
    padding: 0px 10px;
  }
}

@media (max-width: 1050px) {
  .dashboard_Cards_responsive {
    width: 65%;
  }
}

@media (max-width: 850px) {
  .dashboard_Cards_responsive {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .dashboard_Cards_responsive {
    width: 95%;
  }

  .card_P {
    font-size: 12px;
  }

  .card_A {
    font-size: 12px;
  }
}

/* Ipad friendly */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .dashboard_Setup {
    background-color: white;
    height: 70%;
    width: 90%;
    border-radius: 30px;
    padding: 50px;
  }

  .dashboard_Cards_responsive {
    width: 40%;
  }

  .card_P {
    font-size: 14px;
  }

  .card_A {
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
  .dashboard_Cards_responsive {
    width: 35%;
  }

  .card_P {
    font-size: 12px;
  }

  .card_A {
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .dashboard_h1 {
    font-size: 25px;
  }
  .dashboard_Cards_responsive {
    width: 35%;
  }

  .card_P {
    font-size: 10px;
  }

  .card_A {
    font-size: 10px;
  }
}