.dashboard_Background {
  background-image: url("background.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard_Nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.dashboard_Logo {
  width: 190px;
  height: auto;
}

.dashboard_Setup {
  background-color: white;
  height: 70%;
  width: 70%;
  border-radius: 30px;
  padding: 50px;
}

.dashboard_h1 {
  font-family: "Jockey One", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
}

.dashboard_Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
  max-width: 350px;
  max-height: 500px;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  cursor: pointer;
  border: solid #87bec7 5px;
}

.dashboard_Cards_image {
  width: 100%;
}

.card_P {
  padding: 10px;
}

.dashboard_Uitloggen {
  margin: 0px 0px 0px 20px;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #87bec7;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.dashboard_Uitloggen:hover {
  background-color: #77abb3;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
