.VideoCarousel_div_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  font-size: 50px;
  font-weight: 200;
}

.carousel-container {
  max-width: 1020px;
  margin: 0 auto;
}

.VideoCarousel_div_top_h1 {
  font-family: "Jockey One", sans-serif;
  letter-spacing: 1px;
}

.iframeVideo {
  width: 1020px;
  height: 562.5px;
}

@media (max-width: 1100px) {
  .VideoCarousel_div_top {
    font-size: 40px;
  }

  .carousel-container {
    max-width: 750px;
    margin: 0 auto;
  }

  .iframeVideo {
    width: 745px;
    height: 419.0625px;
  }
}

@media (max-width: 800px) {
  .VideoCarousel_div_top {
    font-size: 25px;
  }

  .carousel-container {
    max-width: 480px;
    margin: 0 auto;
  }

  .iframeVideo {
    width: 475px;
    height: 267.1875px;
  }
}

@media (max-width: 501px) {
  .VideoCarousel_div_top {
    font-size: 15px;
    padding: 25px 15px;
  }

  .carousel-container {
    max-width: 310px;
    margin: 0 auto;
  }

  .iframeVideo {
    width: 310px;
    height: 180.875px;
  }
}

@media (max-width: 400px) {
  .carousel-container {
    max-width: 280px;
    margin: 0 auto;
  }

  .iframeVideo {
    width: 289px;
    height: 163.125px;
  }
}