.VideoCarousel_div_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
    font-size: 50px;
    font-weight: 200;
}

.carousel-container {
    max-width: 1020px;
    margin: 0 auto;
}