*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

.slick-arrow {
  display: none !important;
}
/* Font-size */

/* Web = 18px / 25px / 90px */
/* Tel =  13px / 15px / 18px / 40px / 50px */
