*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

.slick-prev:before {
  display: none;
}

.slick-next:before {
  display: none;
}