.parallax {
    background-image: url("background.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-family: "Jockey One", sans-serif;
    color: white;
    font-size: 50px;
}

.content {
    padding: 20px 20px;
}

.content_nav {
    padding: 0px 0px 20px;
}

.kaart {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
  }
  