.photoCarousel {
  max-width: 1500px;
  margin: 0px auto;
  padding: 100px 0px;
}

.photoCarouselImg {
  width: 450px;
}

@media (max-width: 1600px) {
  .photoCarousel {
    max-width: 1000px;
    margin: 0px auto;
  }

  .photoCarouselImg {
    width: 290px;
  }
}

@media (max-width: 1100px) {
  .photoCarousel {
    max-width: 750px;
    margin: 0px auto;
  }
  .photoCarouselImg {
    width: 210px;
  }
}

@media (max-width: 800px) {
  .photoCarousel {
    max-width: 450px;
    margin: 0px auto;
  }
  .photoCarouselImg {
    width: 340px;
  }
}

@media (max-width: 500px) {
  .photoCarousel {
    padding: 50px 20px;
    max-width: 400px;
    margin: 0 auto;
  }

  .photoCarouselImg {
    width: 255px;
  }
}

@media (max-width: 400px) {
  .photoCarouselImg {
    width: 200px;
  }
}
